# generated: 2026-09-12
# method: generated
# source: https://www.ginniemae.gov/api/v1/ (JSON:API entrypoint) + live anonymous probes
openapi: 3.1.0
info:
  title: Ginnie Mae Content API
  version: 1.0.0
  summary: The public, unauthenticated JSON:API 1.0 content surface behind ginniemae.gov.
  description: |-
    Ginnie Mae serves its public website (www.ginniemae.gov) as an Angular single-page application against a Drupal 10 back end, and that back end exposes a **public, unauthenticated JSON:API 1.0 surface at `https://www.ginniemae.gov/api/v1/`** plus a set of Views REST exports and RFC 9264 linkset documents. Ginnie Mae publishes no OpenAPI, no developer portal and no documentation for this surface; the endpoints below were discovered from the application's own runtime configuration (`/assets/config/config.prod.json`) and its JSON:API entrypoint document, and **every path in this document was individually fetched anonymously and returned HTTP 200 on 2026-09-12**.

    **This is a content API, not a mortgage-data API.** It serves the website estate — FAQs, the glossary, press releases, All Participant Memoranda (APMs), bulletins, speeches, executive leadership, training announcements, media/document files and the page-building paragraphs. Ginnie Mae MBS disclosure data (pool/loan-level files, REMIC, HMBS, Platinum) is distributed as bulk files through the Disclosure Data Download application at `https://bulk.ginniemae.gov/`, which sits behind an account login and is not described here. Issuer systems reached through MyGinnieMae (`my.ginniemae.gov`) are behind SSO at `access.ginniemae.gov` and are likewise out of scope.

    **Scope of this description.** Only public *content* entity types are described. The entrypoint also exposes administrative and configuration entity types (`view--view`, `field_config--field_config`, `user--user`, `consumer--consumer`, `oauth2_token--*`, and others) which are deliberately omitted here: they are Drupal implementation surface rather than published data, and `user--user` returns CMS account display names. Reads only — no write operation was attempted against a live government system, so none is described. JSON:API itself defines POST/PATCH/DELETE on these URLs; whether Ginnie Mae permits them to an authenticated client is unverified.

    **Provenance.** GENERATED by API Evangelist from the provider's own machine-readable discovery document and live anonymous probes. It is NOT published by Ginnie Mae and does not claim to be. See `x-generated-from`.
  contact:
    name: Ginnie Mae
    url: https://www.ginniemae.gov/contact-us
  license:
    name: U.S. Government Work (17 U.S.C. § 105)
    url: https://www.ginniemae.gov/site-policies/site-policies/disclaimer
servers:
- url: https://www.ginniemae.gov
  description: Production
externalDocs:
  description: JSON:API 1.0 specification (the contract this surface conforms to)
  url: https://jsonapi.org/format/1.0/
tags:
- name: Block Content
- name: Disclosure
- name: Discovery
- name: Entity Subqueue
- name: FAQ
- name: File
- name: Media
- name: Menu
- name: Menu Link Content
- name: Newsroom
- name: Node
- name: Paragraph
- name: Search
- name: Site Content
- name: Taxonomy Term
paths:
  /api/v1/:
    get:
      operationId: getJsonApiEntrypoint
      summary: JSON:API entrypoint
      description: Returns the JSON:API 1.0 entrypoint document. Its links member enumerates every resource type
        the site exposes, keyed "<entity_type>--<bundle>".
      tags:
      - Discovery
      responses:
        '200':
          description: JSON:API entrypoint document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiEntrypoint'
  /api/v1/block_content/slideshow_block:
    get:
      operationId: listBlockContentSlideshowBlock
      summary: List block_content--slideshow_block resources
      description: Collection endpoint for the JSON:API resource type `block_content--slideshow_block`. Verified
        anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Block Content
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: &id001
          type: integer
          minimum: 1
          maximum: 50
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: &id002
          type: integer
          minimum: 0
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: &id003
          type: string
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: &id004
          type: object
          additionalProperties: true
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: &id005
          type: string
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: &id006
          type: object
          additionalProperties:
            type: string
      responses: &id007
        '200':
          description: A JSON:API document whose primary data is an array of resource objects.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiCollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/block_content/slideshow_block/{uuid}:
    get:
      operationId: getBlockContentSlideshowBlock
      summary: Get one block_content--slideshow_block resource
      description: Individual-resource endpoint for the JSON:API resource type `block_content--slideshow_block`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Block Content
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: &id008
        '200':
          description: A JSON:API document whose primary data is a single resource object.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JsonApiItemDocument'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/block_content/slideshow_sub:
    get:
      operationId: listBlockContentSlideshowSub
      summary: List block_content--slideshow_sub resources
      description: Collection endpoint for the JSON:API resource type `block_content--slideshow_sub`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Block Content
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/block_content/slideshow_sub/{uuid}:
    get:
      operationId: getBlockContentSlideshowSub
      summary: Get one block_content--slideshow_sub resource
      description: Individual-resource endpoint for the JSON:API resource type `block_content--slideshow_sub`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Block Content
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/bulk_notifications:
    get:
      operationId: listEntitySubqueueBulkNotifications
      summary: List entity_subqueue--bulk_notifications resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--bulk_notifications`. Verified
        anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/bulk_notifications/{uuid}:
    get:
      operationId: getEntitySubqueueBulkNotifications
      summary: Get one entity_subqueue--bulk_notifications resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--bulk_notifications`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/executive_leadership_sort:
    get:
      operationId: listEntitySubqueueExecutiveLeadershipSort
      summary: List entity_subqueue--executive_leadership_sort resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--executive_leadership_sort`.
        Verified anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/executive_leadership_sort/{uuid}:
    get:
      operationId: getEntitySubqueueExecutiveLeadershipSort
      summary: Get one entity_subqueue--executive_leadership_sort resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--executive_leadership_sort`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/homepage_impact_area:
    get:
      operationId: listEntitySubqueueHomepageImpactArea
      summary: List entity_subqueue--homepage_impact_area resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--homepage_impact_area`. Verified
        anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/homepage_impact_area/{uuid}:
    get:
      operationId: getEntitySubqueueHomepageImpactArea
      summary: Get one entity_subqueue--homepage_impact_area resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--homepage_impact_area`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/homepage_mission_area:
    get:
      operationId: listEntitySubqueueHomepageMissionArea
      summary: List entity_subqueue--homepage_mission_area resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--homepage_mission_area`.
        Verified anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/homepage_mission_area/{uuid}:
    get:
      operationId: getEntitySubqueueHomepageMissionArea
      summary: Get one entity_subqueue--homepage_mission_area resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--homepage_mission_area`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/homepage_notifications:
    get:
      operationId: listEntitySubqueueHomepageNotifications
      summary: List entity_subqueue--homepage_notifications resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--homepage_notifications`.
        Verified anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/homepage_notifications/{uuid}:
    get:
      operationId: getEntitySubqueueHomepageNotifications
      summary: Get one entity_subqueue--homepage_notifications resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--homepage_notifications`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/entity_subqueue/slideshow:
    get:
      operationId: listEntitySubqueueSlideshow
      summary: List entity_subqueue--slideshow resources
      description: Collection endpoint for the JSON:API resource type `entity_subqueue--slideshow`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Entity Subqueue
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/entity_subqueue/slideshow/{uuid}:
    get:
      operationId: getEntitySubqueueSlideshow
      summary: Get one entity_subqueue--slideshow resource
      description: Individual-resource endpoint for the JSON:API resource type `entity_subqueue--slideshow`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Entity Subqueue
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/file/file:
    get:
      operationId: listFileFile
      summary: List file--file resources
      description: Collection endpoint for the JSON:API resource type `file--file`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - File
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/file/file/{uuid}:
    get:
      operationId: getFileFile
      summary: Get one file--file resource
      description: Individual-resource endpoint for the JSON:API resource type `file--file`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - File
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/disclosure_data_file:
    get:
      operationId: listMediaDisclosureDataFile
      summary: List media--disclosure_data_file resources
      description: Collection endpoint for the JSON:API resource type `media--disclosure_data_file`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/disclosure_data_file/{uuid}:
    get:
      operationId: getMediaDisclosureDataFile
      summary: Get one media--disclosure_data_file resource
      description: Individual-resource endpoint for the JSON:API resource type `media--disclosure_data_file`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/document_file:
    get:
      operationId: listMediaDocumentFile
      summary: List media--document_file resources
      description: Collection endpoint for the JSON:API resource type `media--document_file`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/document_file/{uuid}:
    get:
      operationId: getMediaDocumentFile
      summary: Get one media--document_file resource
      description: Individual-resource endpoint for the JSON:API resource type `media--document_file`. `uuid` is
        the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/image:
    get:
      operationId: listMediaImage
      summary: List media--image resources
      description: Collection endpoint for the JSON:API resource type `media--image`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/image/{uuid}:
    get:
      operationId: getMediaImage
      summary: Get one media--image resource
      description: Individual-resource endpoint for the JSON:API resource type `media--image`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/listing_page:
    get:
      operationId: listMediaListingPage
      summary: List media--listing_page resources
      description: Collection endpoint for the JSON:API resource type `media--listing_page`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/listing_page/{uuid}:
    get:
      operationId: getMediaListingPage
      summary: Get one media--listing_page resource
      description: Individual-resource endpoint for the JSON:API resource type `media--listing_page`. `uuid` is
        the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/mbs_guide:
    get:
      operationId: listMediaMbsGuide
      summary: List media--mbs_guide resources
      description: Collection endpoint for the JSON:API resource type `media--mbs_guide`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/mbs_guide/{uuid}:
    get:
      operationId: getMediaMbsGuide
      summary: Get one media--mbs_guide resource
      description: Individual-resource endpoint for the JSON:API resource type `media--mbs_guide`. `uuid` is the
        `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/qrc:
    get:
      operationId: listMediaQrc
      summary: List media--qrc resources
      description: Collection endpoint for the JSON:API resource type `media--qrc`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/qrc/{uuid}:
    get:
      operationId: getMediaQrc
      summary: Get one media--qrc resource
      description: Individual-resource endpoint for the JSON:API resource type `media--qrc`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/remic_mir:
    get:
      operationId: listMediaRemicMir
      summary: List media--remic_mir resources
      description: Collection endpoint for the JSON:API resource type `media--remic_mir`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/remic_mir/{uuid}:
    get:
      operationId: getMediaRemicMir
      summary: Get one media--remic_mir resource
      description: Individual-resource endpoint for the JSON:API resource type `media--remic_mir`. `uuid` is the
        `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/remote_video:
    get:
      operationId: listMediaRemoteVideo
      summary: List media--remote_video resources
      description: Collection endpoint for the JSON:API resource type `media--remote_video`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/remote_video/{uuid}:
    get:
      operationId: getMediaRemoteVideo
      summary: Get one media--remote_video resource
      description: Individual-resource endpoint for the JSON:API resource type `media--remote_video`. `uuid` is
        the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/media/training_recordings:
    get:
      operationId: listMediaTrainingRecordings
      summary: List media--training_recordings resources
      description: Collection endpoint for the JSON:API resource type `media--training_recordings`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Media
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/media/training_recordings/{uuid}:
    get:
      operationId: getMediaTrainingRecordings
      summary: Get one media--training_recordings resource
      description: Individual-resource endpoint for the JSON:API resource type `media--training_recordings`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Media
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/menu/menu:
    get:
      operationId: listMenuMenu
      summary: List menu--menu resources
      description: Collection endpoint for the JSON:API resource type `menu--menu`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Menu
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/menu/menu/{uuid}:
    get:
      operationId: getMenuMenu
      summary: Get one menu--menu resource
      description: Individual-resource endpoint for the JSON:API resource type `menu--menu`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Menu
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/menu_link_content/menu_link_content:
    get:
      operationId: listMenuLinkContentMenuLinkContent
      summary: List menu_link_content--menu_link_content resources
      description: Collection endpoint for the JSON:API resource type `menu_link_content--menu_link_content`. Verified
        anonymously reachable (HTTP 200) on 2026-09-12.
      tags:
      - Menu Link Content
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/menu_link_content/menu_link_content/{uuid}:
    get:
      operationId: getMenuLinkContentMenuLinkContent
      summary: Get one menu_link_content--menu_link_content resource
      description: Individual-resource endpoint for the JSON:API resource type `menu_link_content--menu_link_content`.
        `uuid` is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>`
        or `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Menu Link Content
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/data_file_types:
    get:
      operationId: listNodeDataFileTypes
      summary: List node--data_file_types resources
      description: Collection endpoint for the JSON:API resource type `node--data_file_types`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/data_file_types/{uuid}:
    get:
      operationId: getNodeDataFileTypes
      summary: Get one node--data_file_types resource
      description: Individual-resource endpoint for the JSON:API resource type `node--data_file_types`. `uuid` is
        the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/event:
    get:
      operationId: listNodeEvent
      summary: List node--event resources
      description: Collection endpoint for the JSON:API resource type `node--event`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/event/{uuid}:
    get:
      operationId: getNodeEvent
      summary: Get one node--event resource
      description: Individual-resource endpoint for the JSON:API resource type `node--event`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/executive_leadership:
    get:
      operationId: listNodeExecutiveLeadership
      summary: List node--executive_leadership resources
      description: Collection endpoint for the JSON:API resource type `node--executive_leadership`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/executive_leadership/{uuid}:
    get:
      operationId: getNodeExecutiveLeadership
      summary: Get one node--executive_leadership resource
      description: Individual-resource endpoint for the JSON:API resource type `node--executive_leadership`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/faq:
    get:
      operationId: listNodeFaq
      summary: List node--faq resources
      description: Collection endpoint for the JSON:API resource type `node--faq`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/faq/{uuid}:
    get:
      operationId: getNodeFaq
      summary: Get one node--faq resource
      description: Individual-resource endpoint for the JSON:API resource type `node--faq`. `uuid` is the `id` member
        returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/glossary:
    get:
      operationId: listNodeGlossary
      summary: List node--glossary resources
      description: Collection endpoint for the JSON:API resource type `node--glossary`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/glossary/{uuid}:
    get:
      operationId: getNodeGlossary
      summary: Get one node--glossary resource
      description: Individual-resource endpoint for the JSON:API resource type `node--glossary`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/haps:
    get:
      operationId: listNodeHaps
      summary: List node--haps resources
      description: Collection endpoint for the JSON:API resource type `node--haps`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/haps/{uuid}:
    get:
      operationId: getNodeHaps
      summary: Get one node--haps resource
      description: Individual-resource endpoint for the JSON:API resource type `node--haps`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/haps_contributor:
    get:
      operationId: listNodeHapsContributor
      summary: List node--haps_contributor resources
      description: Collection endpoint for the JSON:API resource type `node--haps_contributor`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/haps_contributor/{uuid}:
    get:
      operationId: getNodeHapsContributor
      summary: Get one node--haps_contributor resource
      description: Individual-resource endpoint for the JSON:API resource type `node--haps_contributor`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/hello_bar_notification:
    get:
      operationId: listNodeHelloBarNotification
      summary: List node--hello_bar_notification resources
      description: Collection endpoint for the JSON:API resource type `node--hello_bar_notification`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/hello_bar_notification/{uuid}:
    get:
      operationId: getNodeHelloBarNotification
      summary: Get one node--hello_bar_notification resource
      description: Individual-resource endpoint for the JSON:API resource type `node--hello_bar_notification`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/impact_area_items:
    get:
      operationId: listNodeImpactAreaItems
      summary: List node--impact_area_items resources
      description: Collection endpoint for the JSON:API resource type `node--impact_area_items`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/impact_area_items/{uuid}:
    get:
      operationId: getNodeImpactAreaItems
      summary: Get one node--impact_area_items resource
      description: Individual-resource endpoint for the JSON:API resource type `node--impact_area_items`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/memorandum:
    get:
      operationId: listNodeMemorandum
      summary: List node--memorandum resources
      description: Collection endpoint for the JSON:API resource type `node--memorandum`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/memorandum/{uuid}:
    get:
      operationId: getNodeMemorandum
      summary: Get one node--memorandum resource
      description: Individual-resource endpoint for the JSON:API resource type `node--memorandum`. `uuid` is the
        `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/mission_area_sub_item:
    get:
      operationId: listNodeMissionAreaSubItem
      summary: List node--mission_area_sub_item resources
      description: Collection endpoint for the JSON:API resource type `node--mission_area_sub_item`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/mission_area_sub_item/{uuid}:
    get:
      operationId: getNodeMissionAreaSubItem
      summary: Get one node--mission_area_sub_item resource
      description: Individual-resource endpoint for the JSON:API resource type `node--mission_area_sub_item`. `uuid`
        is the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or
        `rel:working-copy` selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/participants:
    get:
      operationId: listNodeParticipants
      summary: List node--participants resources
      description: Collection endpoint for the JSON:API resource type `node--participants`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/participants/{uuid}:
    get:
      operationId: getNodeParticipants
      summary: Get one node--participants resource
      description: Individual-resource endpoint for the JSON:API resource type `node--participants`. `uuid` is the
        `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/person:
    get:
      operationId: listNodePerson
      summary: List node--person resources
      description: Collection endpoint for the JSON:API resource type `node--person`. Verified anonymously reachable
        (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/person/{uuid}:
    get:
      operationId: getNodePerson
      summary: Get one node--person resource
      description: Individual-resource endpoint for the JSON:API resource type `node--person`. `uuid` is the `id`
        member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
        selects a revision, as advertised in each resource object's own `links` member.
      tags:
      - Node
      parameters:
      - name: uuid
        in: path
        required: true
        description: Resource UUID.
        schema:
          type: string
          format: uuid
      - name: resourceVersion
        in: query
        required: false
        description: Revision selector, e.g. `id:23481` or `rel:working-copy`.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load.
        schema:
          type: string
      responses: *id008
  /api/v1/node/press_releases:
    get:
      operationId: listNodePressReleases
      summary: List node--press_releases resources
      description: Collection endpoint for the JSON:API resource type `node--press_releases`. Verified anonymously
        reachable (HTTP 200) on 2026-09-12.
      tags:
      - Node
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: JSON:API page size. Verified live 2026-09-12.
        schema: *id001
      - name: page[offset]
        in: query
        required: false
        description: JSON:API offset-based pagination cursor. Verified live 2026-09-12.
        schema: *id002
      - name: sort
        in: query
        required: false
        description: Comma-separated JSON:API sort fields; a leading "-" reverses order (e.g. "-created"). Verified
          live 2026-09-12.
        schema: *id003
      - name: filter
        in: query
        required: false
        style: deepObject
        explode: true
        description: JSON:API filter. Shorthand filter[<field>]=<value> and the expanded filter[<name>][value]/[operator]/[path]
          form are both accepted; an unknown field returns HTTP 400. Verified live 2026-09-12.
        schema: *id004
      - name: include
        in: query
        required: false
        description: Comma-separated relationship paths to side-load into the "included" member.
        schema: *id005
      - name: fields
        in: query
        required: false
        style: deepObject
        explode: true
        description: 'Sparse fieldsets, keyed by resource type: fields[node--press_releases]=title. Verified live
          2026-09-12.'
        schema: *id006
      responses: *id007
  /api/v1/node/press_releases/{uuid}:
    get:
      operationId: getNodePressReleases
      summary: Get one node--press_releases resource
      description: Individual-resource endpoint for the JSON:API resource type `node--press_releases`. `uuid` is
        the `id` member returned by the collection endpoint. A `resourceVersion` query value of `id:<vid>` or `rel:working-copy`
[...]
